@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');
:root {
  --primary: #7ED321;
  --primary-dark: #5FA815;

  --secondary: #101726;

  --background: #F5F7FA;

  --white: #FFFFFF;

  --text: #1E1E1E;

  --text-light: #6B7280;

  --border: #E5E7EB;

  --container: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button,
input,
textarea {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html,
body,
#root {
  overflow-x: hidden;
}


.toast-container {
  position: fixed;

  top: 24px;
  right: 24px;

  z-index: 99999;

  display: flex;
  flex-direction: column;

  gap: 14px;
}

@media (max-width: 768px) {

  .toast-container {
    top: 18px;
    right: 18px;
    left: 18px;
  }

}